@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.text-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.text-section__title {
  padding-inline: 3rem;
}

.title__pet {
  color: rgb(255, 102, 0);
  margin-top: 45px;
}

.title__look {
  margin-top: 1rem;
  font-size: 5rem;
}

.text-section__button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-inline: 3rem;
  margin: auto;
}

.button__view {
  height: 5rem;
  width: 7rem;
  background-color: rgb(255, 102, 0);
  border: none;
  border-radius: 0px 50px 50px 50px;
  color: white;
}

.button__view:hover {
  background-color: white;
  color: rgb(255, 102, 0);
  border: 3px rgb(255, 102, 0) solid;
}

.image-section {
  width: 100%;
  height: 100%;
  margin: 10px;
  position: relative;
  display: flex;
  padding-right: 5rem;
}

.image-container__photo {
  border-radius: 50px;
  padding: 0rem;
  max-height: 100%;
  margin: 2rem;
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .text-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
  }

  .text-section__title {
    padding-inline: 3rem;
  }

  .title__pet {
    color: rgb(255, 102, 0);
    margin-top: 45px;
    padding: 1rem;
  }

  .title__look {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }

  .text-section__button {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-inline: 3rem;
    margin: auto;
  }

  .button__view {
    height: 3rem;
    width: 7rem;
    background-color: rgb(255, 102, 0);
    border: none;
    border-radius: 0px 50px 50px 50px;
    color: white;
  }

  .button__view:hover {
    background-color: white;
    color: rgb(255, 102, 0);
    border: 3px rgb(255, 102, 0) solid;
  }

  .image-section {
    flex-direction: column;
    width: 430px;
    margin-top: 3rem;
    height: 400px;
    margin-left: -27px;
    position: relative;
    display: flex;
  }

  .image-container {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 1rem;
  }

  .text-hover__title {
    position: absolute;
    top: 73%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .text-hover__description {
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1rem;
}

.text-hover__title {
  position: absolute;
  top: 73%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
}
.text-hover__description {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
}
